// Here you can add other styles
.pageloading {

  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255, 0.8);
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: .3s;
  opacity: 0;

  &.show {
    z-index: 999999;
    opacity: 1;
  }

  &-content {
    text-align: center;
    font-weight: bold;
    
  }

  &-image {
    display: block;
    width: 100px;
    height: 100px;
  }
}